body {
  font-family: Verdana, Geneva, sans-serif;
  color: #828282;
}

#wrapper {
  width: 85%;
  margin-left: 7.5%;
  margin-right: 7.5%;
}
header {
  /*background-color: #f46625;*/
  background-color: rgb(255, 102, 0);
 /* padding: 1px 1px;*/
 margin-top: 5px;
} 

h1 {
  color: white;
  display: inline-block;
  width: inherit;
  border: 1px solid #fff;
  padding: 3px 5px;
  margin-right: 3 px;
  margin-left: 3px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}


h2 {
  display:inline-block;
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: black;
  font-weight: bold;
/*  float: left;*/
}

#header_list {
  display:inline-block;
  margin:4px;
  font-size: 12px;
  color: black;
}

#header_list ul, #footer_list ul {
  list-style: none;
}

#header_list ul li, #footer_list ul li {
  display: inline-block;
  padding: 3px 7px;
  border-right: 1px solid black;

}

ul li:last-child { 
  border:none;
}

h5 {
  display:inline-block;
  text-align: right;
  margin-left: 600px;
  color: black;
  font-size: 12px;
}

#main {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 0;
  background-color: rgb(246, 246, 239);
}

ol {
  list-style-position: inside;
  padding-left: 4px
}

/*the following are inside the ol*/

.lists {
  margin-left: -3px;
}

#gray_arrow_pic {
  display: inline-block;
}

#headline {
  display: inline-block;
  color: black;
  font-size: 13px;
  font-weight: 540;
}

#source {
  display: inline-block;
  font-size: 10px;
}

#source::before {
  content: "(";
}

#source::after {
  content: ")"
}

#points {
  font-size: 10px;
  margin-left: 30px;
}

#comments {
  font-size: 10px;
}

/*end of ol formatting*/

#more {
  font-size: 13px;
  font-weight: 540;
  color: black;
  background-color: rgb(246, 246, 239);

}

#more2 {
  margin-left: 44px;
  padding-bottom: 14px;
}

#footer{
  font-size: 10px;  
  color: black;
  text-align: center;
  background-color: rgb(246, 246, 239);
  padding-top: 2px;
  border-top: 2px solid rgb(255, 102, 0);
}

#footer_list {
  padding-top: 15px;
}

#fake_search {
  text-align: center;
}

#search {
  display: inline-block;
  text-align: center;
  color: #828282;
  font-size: 14px; 
  padding-top: 20px; 
  padding-bottom: 40px;
}


form {
  display: inline-block;
  margin:0px auto;
  text-align: center;
}
/*.search {
                padding:8px 15px;
                background:rgba(50, 50, 50, 0.2);
                border:2px solid #dbdbdb;
}
.button {
                position: relative;
                text-align: left;
                padding:6px 15px;
                left:-8px;
                border:2px solid #207cca;
                background-color:#207cca;
                color:#fafafa;
}
.button:hover  {
                background-color:#fafafa;
                color:#207cca;
}*/

